html {
    height: 100%;
}

body {
    font: 12px/15px Consolas, Verdana;
    margin: 10px;
    background: #000;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

.debug {
    background-color: green;
    text-align: center;
}

.row {
    width: 100%;
}

#row_1 {
    height: 90%;
    clear: both;
}

#row_2 {
    height: 9%;
}

.cell {
    width: 49%;
    height: 100%;
}

#cell_1_1 {
    float: left;
}

#cell_1_2 {
    float: right;
}

#cell_2_1 {
    float: left;
}

#cell_2_2 {
    float: right;
}
