<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>

    <title>Robots</title>
</head>
<body>
<h2>Robots</h2>
<table border="1">
    <tr><th>name</th>
        <th>Id</th><th>State</th></tr>
{% for robot in robots %}
    <tr>
    <td style="padding: 0.5em; background-color: {{ robot.alive_color }}">
	<a href="/robot/{{ robot.id }}/">{{ robot.name }}</a></td>
    <td>{{ robot.id }}</td>
    <td>{{ robot.last_seen_str }}</td>
    </tr>
{% endfor %}
</table>

<p><a href="https://github.com/VerosK/mqtt-robot-webdriver">Source code</a></p>
</body>
</html>
